.header{
    background: #DC0A2D;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    padding:20px 0px 0px 20px;
}
.headerTitle h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 106px;
    height: 32px;
    margin: 0!important;
    color: #FFFFFF;


}

.headerTitle img{
    width: 24px;
    height: 24px; 
    color: #FFFFFF;
}

.SearchContainer{
    display:flex;
    gap: 20px;
}

body{
    background: #DC0A2D; 
    width: 375px;
    height: 667px;
}

main{
    display: flex;
    justify-Content: center;
    align-items:center;
    margin-top: 24px;
}
.pokemonContainers{
    width: 362px;
    height: 524px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    
}

.pokemonCards{
    display: grid;
    grid-template: auto;
    grid-template-columns: 1fr 1fr 1fr;
}